*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 10%;
    object-fit: contain;
    cursor: pointer;
    background: transparent;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 5px 5px #e0dcdc;
    flex-direction: row;
    align-items: center;
    align-content: center;
    z-index:2;
}

.nav-menu{
    display: flex;
    list-style: none;
}
li{
    padding: 15px 15px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.primaryBtn{
    cursor: pointer;
    font-weight: bold;
    padding: 12px 15px;
    font-size: 0.8rem;
    border: none;
    color: white;
    background: #db183c;
    border-radius: 0.5em;
    margin-left: 20px;
    margin-top: 9px;
    transition: all 0.25s ease;
}

.primaryBtn:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px -10px rgba(219, 24, 44, 0.6);
}